/* ===== Attributes / Margin ================= */
/* =========================================== */

@each $size in $sizes {
	:is(.margin-$size, .margin-hor-$size, .margin-left-$size) {
		margin-left: var(--$size);
	}

	:is(.margin-$size, .margin-hor-$size, .margin-right-$size) {
		margin-right: var(--$size);
	}

	:is(.margin-$size, .margin-ver-$size, .margin-top-$size) {
		margin-top: var(--$size);
	}

	:is(.margin-$size, .margin-ver-$size, .margin-bottom-$size) {
		margin-bottom: var(--$size);
	}
}