:is(h1, h2, h3, h4, h5, h6),
:is(.is-1, .is-2, .is-3, .is-4, .is-5, .is-6) {
	font-weight: var(--heading-font-weight, 700);
	font: var(--heading-font-family, serif, system);
}

:is(h1:not(.is-2, .is-3, .is-4, .is-5, .is-6), .is-1) {
	font-size: calc(clamp(0.6rem, 2vw, 1rem) * pow($fontScale, 6));
}
:is(h2:not(.is-1, .is-3, .is-4, .is-5, .is-6), .is-2) {
	font-size: calc(clamp(0.7rem, 2vw, 1rem) * pow($fontScale, 5));
}
:is(h3:not(.is-1, .is-2, .is-4, .is-5, .is-6), .is-3) {
	font-size: calc(clamp(0.8rem, 2vw, 1rem) * pow($fontScale, 4));
}
:is(h4:not(.is-1, .is-2, .is-3, .is-5, .is-6), .is-4) {
	font-size: calc(clamp(0.8rem, 2vw, 1rem) * pow($fontScale, 3));
}
:is(h5:not(.is-1, .is-2, .is-3, .is-4, .is-6), .is-5) {
	font-size: calc(clamp(0.9rem, 2vw, 1rem) * pow($fontScale, 2));
}
:is(h6:not(.is-1, .is-2, .is-3, .is-4, .is-5), .is-6) {
	font-size: calc(clamp(0.9rem, 2vw, 1rem) * pow($fontScale, 1));
}

:is(.text-center, .text-center-all > *) {
	text-align: center;
}
