.flipper {
	width: 100%;
	height: 100%;
	perspective: 1000px;
	transform-style: preserve-3d;
	display: grid;

	& > :is(:nth-child(1), :nth-child(2)) {
		width: inherit;
		height: inherit;
		transition-duration: 0.8s;
		transition-property: transform;
		backface-visibility: hidden;
		grid-column: 1;
		grid-row: 1;

		&:nth-child(1) {
			z-index: 2;
		}
	}

	&:is(:hover, :active) > :nth-child(1),
	input[type='checkbox']:checked ~ & > :nth-child(1) {
		transform: rotateY(180deg);
	}

	& > :nth-child(2) {
		transform: rotateY(-180deg);
	}

	&:is(:hover, :active) > :nth-child(2),
	input[type='checkbox']:checked ~ & > :nth-child(2) {
		transform: rotateY(0deg);
	}
}

label:has(.flipper) > input[type='checkbox'] {
	display: none;
}
