.marquee {
	width: 100%;
	overflow: hidden;
}

.marquee > * {
	flex-shrink: 0;
	width: max-content;
	animation-name: marquee;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: calc(-1 * var(--delay, 0));
}

.marquee.u-reverse > * {
	animation-direction: reverse;
}

.marquee:is(:hover, :active) > * {
	animation-play-state: paused;
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(calc((100% + var(--gap, 1rem)) * -1));
	}
}
