/* 
 * inspired by, see:
 * https://elad2412.github.io/the-new-css-reset/
**/

html {
	font-size: 16px;
	line-height: 1.6;
	box-sizing: border-box;
	height: 100%;
}

:is(html, body) {
	min-height: 100%;
}

:is(*, *::before, *::after) {
	line-height: inherit;
	box-sizing: inherit;
	font-size: inherit;
}

:is(body, h1, h2, h3, h4, h5, h6, p, figure, ul, ol) {
	margin: 0;
	padding: 0;
}

:is(img, picture, video, canvas, svg) {
	max-width: 100%;
	display: block;
	height: auto;
}

:is(input, button, textarea, select) {
	font: inherit;
}
