details {
	&[open] > summary::before {
		transform: rotateZ(90deg);
	}

	&[open] > *:not(summary) {
		animation: details-show 200ms;
	}

	& > summary {
		/* display: flex; */
		/* align-items: center; */

		& > :is(h1, h2, h3, h4, h5, h6) {
			display: inline-block;
		}
	}
}

@keyframes details-show {
	from {
		opacity: 0;
		transform: var(--details-translate, translateY(-0.5em));
	}
}
