<!DOCTYPE html>
<html lang="en" color-scheme="light">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../dist/styles/fable-all.min.css" />
      <title>Fable.css / Layout / Grid</title>
      <style>
         .square {
            aspect-ratio: 1 / 1;
         }

         .landscape {
            aspect-ratio: 3 / 1;
         }

         .portrait {
            aspect-ratio: 1 / 3;
         }

         .level > .grid {
            border: 1px solid teal;
            position: relative;

            & > .item {
               border: 1px solid tomato;
               margin: var(--md);
               padding: var(--md);
               border-radius: var(--sm);
            }
         }
      </style>
   </head>
   <body class="grid holy-grail">
      <main class="stack">
         <section class="stack">
            <header>
               <h1>Grid / Position</h1>
            </header>

            <main class="stack test">
               <div class="level">
                  <div class="square"></div>

                  <div class="grid landscape grow top">
                     <div class="item">.top</div>
                     <div class="item">item 2</div>
                  </div>

                  <div class="square"></div>
               </div>

               <div class="level">
                  <div class="level grow">
                     <div class="grid portrait grow left">
                        <div class="item">.left</div>
                        <div class="item">item 2</div>
                     </div>
                  </div>

                  <div class="stack grow">
                     <div class="level">
                        <div class="grid square grow top left">
                           <div class="item">.top.left</div>
                           <div class="item">item 2</div>
                        </div>
                        
                        <div class="grid square grow top center">
                           <div class="item">.top.center</div>
                           <div class="item">item 2</div>
                        </div>
            
                        <div class="grid square grow top right">
                           <div class="item">.top.right</div>
                           <div class="item">item 2</div>
                        </div>
                     </div>
            
                     <div class="level">
                        <div class="grid square grow center left">
                           <div class="item">.center.left</div>
                           <div class="item">item 2</div>
                        </div>
                        
                        <div class="grid square grow center">
                           <div class="item">.center</div>
                           <div class="item">item 2</div>
                        </div>
            
                        <div class="grid square grow center right">
                           <div class="item">.center.right</div>
                           <div class="item">item 2</div>
                        </div>
                     </div>
            
                     <div class="level">
                        <div class="grid square grow bottom left">
                           <div class="item">.bottom.left</div>
                           <div class="item">item 2</div>
                        </div>
                        
                        <div class="grid square grow bottom center">
                           <div class="item">.bottom.center</div>
                           <div class="item">item 2</div>
                        </div>
            
                        <div class="grid square grow bottom right">
                           <div class="item">.bottom.right</div>
                           <div class="item">item 2</div>
                        </div>
                     </div>
                  </div>

                  <div class="level grow">
                     <div class="grid portrait grow right">
                        <div class="item">.right</div>
                        <div class="item">item 2</div>
                     </div>
                  </div>
               </div>

               <div class="level">
                  <div class="square"></div>

                  <div class="grid landscape grow bottom">
                     <div class="item">.bottom</div>
                     <div class="item">item 2</div>
                  </div>

                  <div class="square"></div>
               </div>

            </main>
         </section>

         <section class="stack">
            <header>
               <h1>Grid / Flow</h1>
            </header>

            <main class="stack">
               <div class="level">
                  <div class="grid grow top">
                     <div class="item">.top</div>
                     <div class="item">item 2</div>
                  </div>

                  <div class="grid grow center">
                     <div class="item">.center</div>
                     <div class="item">item 2</div>
                  </div>

                  <div class="grid grow bottom">
                     <div class="item">.bottom</div>
                     <div class="item">item 2</div>
                  </div>
               </div>
            </main>
         </section>
      </main>
   </body>
</html>
