/* 
 * inspired by, see:
 * https://elad2412.github.io/the-new-css-reset/
**/

html {
	font-size: var(--text-font-size, 16px);
	line-height: 1.6;
	box-sizing: border-box;

	font-weight: var(--text-font-weight, 300);
	font-family: var(--text-font-family, sans-serif, system);
}

:is(html, body) {
	min-height: 100vh;
}

:is(*, *::before, *::after) {
	line-height: inherit;
	box-sizing: inherit;
	font-size: inherit;
}

:is(body, h1, h2, h3, h4, h5, h6, p, figure, ul, ol, blockquote) {
	padding: unset;
	margin: unset;
}

:is(img, picture, video, canvas, svg) {
	max-width: 100%;
	display: block;
	height: auto;
}

:is(input, button, textarea, select) {
	font: inherit;
}
