body.grid.holy-grail {
   grid-template-rows:
      [header] var(--header-height, max-content)
      [content] auto
      [footer] var(--footer-height, max-content);

   grid-template-columns:
      [fullbleed-start]
      max(var(--md), ((100vw - var(--content-width, 1140px)) / 2))
      [content-start]
      repeat(var(--columns, 12), 1fr)
      [content-end]
      max(var(--md), ((100vw - var(--content-width, 1140px)) / 2))
      [fullbleed-end];

   & > :not(.hero) {
      grid-column: content;
   }

   & .hero {
      grid-column: fullbleed;

      &.grid > :not(.hero) {
         grid-column: content;
      }
   }

   & > header {
      grid-row: header;
   }
   & > main {
      grid-row: content;
   }
   & > footer {
      grid-row: footer;
   }
}
