/* ===== Attributes / Margin ================= */
/* =========================================== */

@each $size in $sizes {
	:where(.margin-$size, .margin-horizontal-$size, .margin-left-$size) {
		margin-left: var(--$size);
	}

	:where(.margin-$size, .margin-horizontal-$size, .margin-right-$size) {
		margin-right: var(--$size);
	}

	:where(.margin-$size, .margin-vertical-$size, .margin-top-$size) {
		margin-top: var(--$size);
	}

	:where(.margin-$size, .margin-vertical-$size, .margin-bottom-$size) {
		margin-bottom: var(--$size);
	}
}