/* ===== Attributes / Padding ================ */
/* =========================================== */

@each $size in $sizes {
	:where(.padding-$size, .padding-hor-$size, .padding-left-$size) {
		padding-left: var(--$size);
	}

	:where(.padding-$size, .padding-hor-$size, .padding-right-$size) {
		padding-right: var(--$size);
	}

	:where(.padding-$size, .padding-ver-$size, .padding-top-$size) {
		padding-top: var(--$size);
	}

	:where(.padding-$size, .padding-ver-$size, .padding-bottom-$size) {
		padding-bottom: var(--$size);
	}
}